<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Add Glass Item >></h5>
    </div>
    <div class="card-body">
      <%= render 'form', glassitem: @glassitem %>
    </div>
  </div>
</div>
